HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive data
*.properties
!src/main/resources/*.properties
*.yml
!src/main/resources/*.yml
*.env
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
